* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 90%;
    min-height: 100vh;
    background-color: #f8f8f8;
    background: #f8f8f8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E9E4F0, rgb(216, 212, 224));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F8F8F8, rgb(216, 212, 224));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* NAVBAR */


/* overriding bootstrap css */

label,
ul {
    margin-bottom: 0;
}

nav {
    background-color: white;
    padding: 15px 5%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-menu {
    list-style: none;
    display: flex;
}

.nav-container .nav-menu li {
    margin-left: 50px;
}

.nav-container .logo {
    font-size: 35px;
    font-family: 'Gill Sans MT', Cochin, Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    letter-spacing: 2px;
}

.nav-container .logo a {
    text-decoration: none;
    color: #20232A;
}

.nav-container .nav-menu li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 450;
}

.nav-container .nav-menu li a:hover {
    background-color: #20232A;
    color: white;
}

#navBtn {
    position: absolute;
    top: 10px;
    right: 25px;
    border: none;
    outline: none;
    background-color: #20232A;
    padding: 0 15px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: none;
}

.line {
    height: 3px;
    width: 27.5px;
    margin: 5px 0;
    background-color: white;
}


/* SECTION */

.main-container {
    width: 85%;
    margin: 20px auto;
}

.container-top,
.container-bottom {
    border: 1px dashed #20232A;
    margin-bottom: 20px;
    background-color: #fff;
}


/* Carousel */

.carousel-container {
    width: 90%;
    margin: 0 auto;
    border: 6px groove lightgray;
}

.carousel-item img {
    /* height: 847px; */
    height: 677px;
    /* width: 1280px; */
    width: 1024px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding: 15px 15px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container-top .l-body {
    padding: 10px 20px;
}

.l-body .l-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-body .l-title a {
    text-decoration: none;
    color: #20232A;
    font-size: 30px;
    /* font-family: cursive; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.l-body .l-icons a {
    padding-right: 8px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
}

.l-icons .l-edit {
    color: rgb(255, 99, 42);
}

.l-icons .l-del {
    color: red;
}

.l-icons .l-del:hover,
.l-icons .l-edit:hover {
    padding-right: 7px;
    font-size: 18px;
}

.l-body .l-info {
    padding: 5px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.container-bottom {
    padding: 10px 20px;
}

.comment-form {
    display: flex;
    padding-bottom: 10px;
}

.comment-form input[type="text"] {
    flex: 65%;
    margin-right: 10%;
    font-family: Cursive;
    height: 40px;
    font-size: 17px;
    padding: 15px 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    color: #20232A;
}

.comment-form input[type="submit"] {
    flex: 25%;
    background-color: rgba(0, 187, 40, 0.829);
    color: white;
    font-size: 17px;
    font-weight: 600;
    font-family: Cursive;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 18px;
}

.comment-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(11, 214, 62);
}

.comment-box {
    background-color: rgba(211, 211, 211, 0.37);
    padding: 10px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.479);
    border-top: 0.5px solid rgba(128, 128, 128, 0.479);
}

.comment-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-date {
    font-size: 15px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

.comment-box .comment-head {
    display: flex;
}

.comment-head .comment-name a {
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    color: #20232A;
}

.comment-head .comment-name a:hover {
    color: rgba(6, 19, 44, 0.808);
}

.comment-head .comment-delete a {
    font-size: 15px;
    text-decoration: none;
    margin-left: 15px;
    color: red;
    font-weight: 550;
}

.comment-head .comment-delete a:hover {
    font-size: 16px;
}

.comment-box .comment-text {
    font-size: 16px;
    line-height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* FOOTER */

footer {
    flex: 10%;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #20232A;
    /* height: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 0;
}

footer p a {
    text-decoration: none;
    font-weight: 100;
    color: rgb(66, 66, 247);
}

footer p a:hover {
    color: blue;
}

@media (max-width: 700px) {
    .nav-container,
    .nav-menu {
        flex-direction: column;
        width: 100%;
    }
    nav {
        padding: 0;
    }
    .nav-menu {
        pointer-events: none;
        opacity: 0;
        transform: translateY(-50px);
        transition: all 0.4s ease;
    }
    .nav-container .logo {
        line-height: 50px;
        text-align: center;
        width: 100%;
        font-size: 28px;
        padding: 10px 0;
        border-bottom: 2px ridge #000;
        margin-bottom: 5px;
    }
    .nav-container .nav-menu li {
        margin-left: 0;
        text-align: center;
        padding: 10px 0;
    }
    .nav-container .nav-menu li a {
        border-radius: 15px;
        font-size: 18px;
    }
    #navBtn {
        display: block;
    }
    .toggle-menu {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0px);
    }
    footer {
        flex-direction: column;
        text-align: center;
        font-size: 15px;
        padding: 2vh 0;
    }
    footer p a {
        font-size: 16px;
    }
}

@media screen and (max-width:1199px) {
    .carousel-item img {
        height: 635px;
        width: 960px;
    }
}

@media screen and (max-width: 991px) {
    .carousel-item img {
        height: 592px;
        width: 896px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-item img {
        height: 508px;
        width: 768px;
    }
    .comment-form input[type="text"] {
        margin-right: 0;
    }
}

@media screen and (max-width: 575px) {
    .carousel-item img {
        height: 350px;
        width: 576px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        padding: 0;
    }
    .comment-form {
        display: block;
    }
    .comment-form input[type="submit"] {
        width: 100%;
        margin-top: 10px;
    }
    .comment-form input[type="text"] {
        width: 100%;
    }
}