</header>
<footer>
    <p>&copy; All rights reserved.</p>
    <p> Project by <a href="https://www.linkedin.com/in/satyam-bhatia-52531b155">Satyam Bhatia</a></p>
</footer>
<script src="/scripts/script.js"></script>
</body>

</html>