<%- include ("partials/nav-top") %>
    <section class="landing-section">
        <div class="main-content">
            <div class="main-btn">
                <a href="/locations">Explore <i class="fas fa-paper-plane"></i></a>
            </div>
        </div>
    </section>
    <%- include ("partials/bottom") %>