* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 90%;
    background-color: white;
    height: 100vh;
}


/* NAVBAR */

nav {
    /* background-color: white; */
    padding: 15px 5%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-menu {
    list-style: none;
    display: flex;
}

.nav-container .nav-menu li {
    margin-left: 50px;
}

.nav-container .logo {
    font-size: 35px;
    font-family: 'Gill Sans MT', Cochin, Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    letter-spacing: 2px;
}

.nav-container .logo a {
    text-decoration: none;
    color: #20232A;
}

.nav-container .nav-menu li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 450;
}

.nav-container .nav-menu li a:hover {
    background-color: #20232A;
    color: white;
}

#navBtn {
    position: absolute;
    top: 10px;
    right: 25px;
    border: none;
    outline: none;
    background-color: #20232A;
    padding: 0 15px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: none;
}

.line {
    height: 3px;
    width: 27.5px;
    margin: 5px 0;
    background-color: white;
}


/* SECTION */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background: #abbaab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #abbaab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffff, #abbaab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-box {
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}

.form-title {
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px;
}

.field {
    position: relative;
    width: 400px;
    height: 55px;
    margin: 15px;
}

.field-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.field input,
.field textarea,
.field-btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 15px 20px;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), inset 4px 4px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 0, 0, 0.05);
}

.desc-field {
    height: 150px;
}

.field textarea {
    padding: 15px;
    resize: none;
    font-family: Arial;
}

.field-btn a {
    text-decoration: none;
    font-family: Arial;
}

.field input[type="submit"],
.field-btn a {
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: black;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 1), inset 3px 3px 10px rgba(255, 255, 255, 1), inset -3px -3px 10px rgba(255, 255, 255, 1), 3px 3px 10px rgba(255, 255, 255, 1);
    color: white;
}

.field-btn input[type="submit"],
.field-btn a {
    position: relative;
    width: 40%;
}

.field input[type="submit"]:hover,
.field-btn a:hover {
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 1), inset 5px 5px 10px rgba(255, 255, 255, 1), inset -5px -5px 10px rgba(255, 255, 255, 1), 5px 5px 10px rgba(255, 255, 255, 1);
}

.field input::placeholder,
.field textarea::placeholder {
    color: #ccc;
}

@media (max-width: 700px) {
    .form-container {
        background: #fff;
    }
    .form-box {
        padding: 15px;
    }
    .form-title {
        font-size: 20px;
    }
    .field {
        width: 250px;
        height: 45px;
    }
    .field input {
        padding: 10px 15px;
        font-size: 16px;
    }
    .field input[type="submit"],
    .field-btn a {
        font-size: 18px;
    }
    .desc-field {
        height: 150px;
    }
}


/* FOOTER */

footer {
    flex: 10%;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #20232A;
    /* height: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 0;
}

footer p a {
    text-decoration: none;
    font-weight: 100;
    color: rgb(66, 66, 247);
}

footer p a:hover {
    color: blue;
}

@media (max-width: 700px) {
    .nav-container,
    .nav-menu {
        flex-direction: column;
        width: 100%;
    }
    nav {
        padding: 0;
    }
    .nav-menu {
        pointer-events: none;
        opacity: 0;
        transform: translateY(-50px);
        transition: all 0.4s ease;
    }
    .nav-container .logo {
        line-height: 50px;
        text-align: center;
        width: 100%;
        font-size: 28px;
        padding: 10px 0;
        border-bottom: 2px ridge #000;
        margin-bottom: 5px;
    }
    .nav-container .nav-menu li {
        margin-left: 0;
        text-align: center;
        padding: 10px 0;
    }
    .nav-container .nav-menu li a {
        border-radius: 15px;
        font-size: 18px;
    }
    #navBtn {
        display: block;
    }
    .toggle-menu {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0px);
    }
    footer {
        flex-direction: column;
        text-align: center;
        font-size: 15px;
        padding: 2vh 0;
    }
    footer p a {
        font-size: 16px;
    }
}